{
  "printWidth": 120,
  "tabWidth": 2,
  "singleAttributePerLine": false,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",

  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "off",
  "overrides": [{ "files": ["**/templates/**/*.html", "*.html"], "options": { "parser": "html" } }]
}
