{% if msg.sender == request.user %}
  <div class="flex justify-end">
    <div class="bg-blue-600 text-white px-4 py-2 rounded-2xl rounded-br-none max-w-xs text-sm">
      {{ msg.text }}
      <div class="text-xs text-right mt-1">{{ msg.created_at|time:"H:i" }}</div>
    </div>
  </div>
{% else %}
  <div class="flex justify-start">
    <div class="bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white px-4 py-2 rounded-2xl rounded-bl-none max-w-xs text-sm">
      {{ msg.text }}
      <div class="text-xs mt-1">{{ msg.created_at|time:"H:i" }}</div>
    </div>
  </div>
{% endif %}

<script>
   scrollToBottom(); 
</script>

